#my_cmd_btn {
    flex-shrink: 0 !important; /* 공간 부족해도 줄어들지 마라 */
    min-width: 40px !important;
    background-color: transparent;
    transition: 0.2s;
}
#my_cmd_btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
